<span class="loader" *ngIf="blnLoading"></span>

<div class="Buscador {{(jsonResultado==undefined) ? 'SinResultados' : ''}}">
  <div class="titulo">
    <h1>{{title}}</h1>
  </div>
  <form #frmLogin="ngForm" (ngSubmit)="onSubmit(frmLogin)" >
    <input type="text" class="inTxt" id="strUser" name="strUser" autofocus="autofocus" minlength="4" required placeholder="Nombre de usuario" ngModel />
    <input type="submit" value="Buscar" class="btn" />
  </form>
</div>

<hr *ngIf="jsonResultado != undefined" />

<div class="resultados" *ngIf="jsonResultado != undefined">

  <div class="row">
    <div class="flex" *ngFor="let Perfil of jsonResultado" (click)="fnPantallaAbrir(Perfil)">
      <div>
        <p>
          <strong>{{Perfil.login}}</strong>
        </p>
        <!--<p>{{Perfil.node_id}}</p>-->
        <img src="{{Perfil.avatar_url}}" />
      </div>
    </div>
  </div>
  
  <div class="row">
     <p>Total resultados: {{TotalRegistrosBusqueda}} | Pagina: 
       <span title="Primera p&aacute;gina" (click)="fnPaginaPrim()" class="material-symbols-outlined bntPaginado">skip_previous</span>
       <span title="P&aacute;gina anterior" (click)="fnPaginaAnt()" class="material-symbols-outlined bntPaginado">navigate_before</span>
       {{PaginaActual}}/{{PaginasTotales}}
       <span title="Siguiente p&aacute;gina" (click)="fnPaginaSig()"class="material-symbols-outlined bntPaginado">navigate_next</span>
       <span title="&Uacute;ltima p&aacute;gina" (click)="fnPaginaUlt()" class="material-symbols-outlined bntPaginado">skip_next</span>
       </p>
  </div>

</div>


<!-- The Modal -->
<div id="myModal" class="modal" *ngIf="jsonDatos!=undefined">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="row">
      <span class="close" (click)="fnPantallaCerrar()">&times;</span>
    </div>
    <div class="row">
      <div class="modal-col" style="text-align:left;">
        <h2>{{jsonDatos.login}}</h2>
        <p>Enlaces:</p>
        <ul>
          <li>url: <a href="{{jsonDatos.url}}" target="_blank">{{jsonDatos.url}}</a></li>
          <li>html_url: <a href="{{jsonDatos.html_url}}" target="_blank">{{jsonDatos.html_url}}</a></li>
          <li>followers_url: <a href="{{jsonDatos.followers_url}}" target="_blank">{{jsonDatos.followers_url}}</a></li>
          <li>subscriptions_url: <a href="{{jsonDatos.subscriptions_url}}" target="_blank">{{jsonDatos.subscriptions_url}}</a></li>
          <li>organizations_url: <a href="{{jsonDatos.organizations_url}}" target="_blank">{{jsonDatos.organizations_url}}</a></li>
          <li>received_events_url: <a href="{{jsonDatos.received_events_url}}" target="_blank">{{jsonDatos.received_events_url}}</a></li>
        </ul>
        <!--<button (click)="fnPantallaUrl(jsonDatos.html_url)">Abrir perfil</button>-->
        <button class="btn" (click)="fnPantallaUrl('https://github.com/'+jsonDatos.login)">Abrir perfil</button>
      </div>
      <div class="modal-col">
        <img src="{{jsonDatos.avatar_url}}" title="ID: {{jsonDatos.id}}" />
      </div>
    </div>
  </div>
</div>
